<!-- wp:template-part {"slug":"header-smart"} /-->

<!-- wp:group {"tagName":"main","align":"full","layout":{"type":"constrained"}} -->
<main class="wp-block-group alignfull template-404">

	<!-- wp:heading -->
	<h2>Page not found</h2>
	<!-- /wp:heading -->

	<!-- wp:paragraph -->
	<p>Sorry, we can’t find that page. Try searching, or head back to the homepage.</p>
	<!-- /wp:paragraph -->

	<!-- wp:search {"label":"Search","showLabel":false,"buttonText":"Search"} /-->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->